:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 70vw;
  margin: auto;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

select {
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* Safari support */
  -moz-appearance: none; /* Firefox support */
  background-color: rgb(248, 158, 173); /* Background color */
  border: 2px solid #ddb8c2; /* Border color */
  border-radius: 15px; /* Rounded corners */
  padding: 10px; /* Padding inside the dropdown */
  font-size: 16px; /* Font size */
  color: #333; /* Font color */
  width: 50vw; /* Width of the dropdown */
  height: 30px;
  cursor: pointer; /* Change cursor to pointer */

  font-size: 16px;
}



